Repository caicloud/charts, pull requests merged in 2020-07, with the labels that each got.

#224 fix basic image
  build/templates/Dockerfile
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#225 chore(*): use base image debian:stretch-ruby (#222) (#223)
  Makefile
  build/charts/Dockerfile
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S

#226 [WANDA-74] feat(wanda): add dns config into pod's template (#181)
  README.md
  templates/1.0.0/templates/_pod.tpl
  templates/1.0.0/values.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/M

#228 fix(typo): fix eureka typo in release
  stable/release/eureka/1.9.2/description.yaml
  stable/release/eureka/2.0.0/description.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#227 [PAPER-63]feat(release): add eureka cluster release in application store
  Makefile
  build/charts/Dockerfile
  build/charts/test.sh
  build/templates/Dockerfile
  stable/release/eureka-cluster/2.0.0/Chart.yaml
  stable/release/eureka-cluster/2.0.0/description.yaml
  stable/release/eureka-cluster/2.0.0/values.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/M

#231 fix(kibana): use appropriate es URL
  stable/release/kibana/6.5.4/values.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#234 Fix: mongo cluster's chart file 's wrong format, add some description
  stable/release/mongo-cluster/3.4.1/values.yaml
  stable/release/rabbitmq-cluster/3.8.1/description.yaml
  stable/release/rabbitmq-cluster/3.8.1/values.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS
